<!DOCTYPE html>
<html>
<head>
    <title>POP NOW 開箱神器</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>POP NOW 開箱神器</h1>
        <p>好運！祝你開出大熱門角色！</p>
        <form method="post">
            <label>POP NOW 活動頁面網址：</label><br>
            <input type="text" name="activity_url" placeholder="https://m.popmart.com/sg/pop-now/set/24" required><br><br>
            <label>要查詢的角色名稱：</label><br>
            <input type="text" name="target_character" placeholder="DUODUO" required><br><br>
            <input type="submit" value="開始查詢">
        </form>
        <div class="results">
            {% for result in results %}
                <p>{{ result }}</p>
            {% endfor %}
        </div>
    </div>
</body>
</html>
